entrypoint = "index.js"
hidden = [".config", "package-lock.json"]
modules = ["nodejs-23", "nodejs-22"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"
packages = ["vimPlugins.vim-elixir", "gitu"]

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false
